<!DOCTYPE html>
<html lang="{{ locale }}">
<head>
    <meta charset="utf-8">
    <link rel="alternate" href="https://comparail.traines.eu/en/" hreflang="en" />
    <link rel="alternate" href="https://comparail.traines.eu/de/" hreflang="de" />
    <link rel="alternate" href="https://comparail.traines.eu/fr/" hreflang="fr" />

    <title>{{ gettext('title') }}</title>

    <meta name="viewport" content="initial-scale=1,maximum-scale=3,user-scalable=yes">

    <link href="/favicon.ico" type="image/x-icon" rel="shortcut icon">
    <link rel="apple-touch-icon" sizes="180x180" href="/res/icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/res/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/res/icon/favicon-16x16.png">
   
    <link rel="stylesheet" href="/res/styles.css" />
    <script src="/vendor/d3.v7.min.js"></script>
   
</head>
<body>
    <h1>{{ gettext('title_long') }}</h1>
    <div id="container-plot"><svg id="plot" data-auto-start="false" preserveAspectRatio="xMidYMin">
        <defs>
            <linearGradient id="gradient" x1="0" x2="1" y1="0" y2="0">
            <stop offset="0%" stop-color="rgb(1, 87, 155)"/>
            <stop offset="100%" stop-color="rgb(183, 28, 28)"/>
            </linearGradient>
        </defs>
        <g id="bgmap"></g>
        <g id="projects"></g>      
    </svg></div>
    <div id="overlay"><div>
        {% for select in [{'pos':'br', 'axis': 'x'}, {'pos':'tl', 'axis': 'y'}, {'pos':'tr', 'axis': 'z'}] %}
            <div class="axis-select" id="{{ select.pos }}">
                <select class="select" id="select-{{ select.axis }}">
                    {% for id in dimensions %}
                        <option value="{{ id }}" data-unit="{{ gettext(id+'_unit') }}">{{ gettext(id) }}</option>
                    {%- endfor %}
                </select><br />
                <select class="select" id="select-{{ select.axis }}-per">
                    <option value="-1"></option>
                    {% for id in dimensions %}
                        <option value="{{ id }}" data-unit="{{ gettext(id+'_unit') }}">{{ gettext('per') }} {{ gettext(id) }}</option>
                    {%- endfor %}
                </select>
            </div>
        {% endfor %}
    </div></div>
    <div id="meta"><div>
        <div id="introduction">
            <p>{{ gettext('introduction') }}</p>
            <p>{{ gettext('examples') }}</p>
            <ul>
                <li><a href="javascript:void(0)" onclick="presetSelects('trains_per_hour_direction-undefined-passengers_per_day-undefined-number_stations-undefined')">{{ gettext('example_number_trains_passenger') }}</a></li>
                <li><a href="javascript:void(0)" onclick="presetSelects('estimated_construction_cost-undefined-construction_duration-undefined-estimated_construction_cost-construction_duration')">{{ gettext('example_construction_cost_duration') }}</a></li>
                <li><a href="javascript:void(0)" onclick="presetSelects('estimated_construction_cost-passengers_per_day-estimated_construction_cost-pkm_per_day-estimated_construction_cost-undefined')">{{ gettext('example_cost_per_passenger') }}</a></li>
                <li><a href="javascript:void(0)" onclick="presetSelects('length_tunnel_tube-length_tunnel-tunnel_diameter-undefined-maximum_speed-undefined')">{{ gettext('example_double_single_track') }}</a></li>
                <li><a href="javascript:void(0)" onclick="presetSelects('emissions_construction_high-emissions_savings_per_year_low-emissions_construction_low-emissions_savings_per_year_high-emissions_construction_reference-emissions_savings_per_year_reference')">{{ gettext('example_co2_best_worst_case') }}</a></li>
                <li><a href="javascript:void(0)" onclick="presetSelects('length_double_track-number_stations-commercial_speed-undefined-trains_per_hour_direction-undefined')">{{ gettext('example_station_spacing_commercial_speed') }}</a></li>
            </ul>
        </div>
        <div id="metrics">
            {% for id in dimensions %}
                <div id="{{ id }}">
                    <h3>{{ gettext(id) }}</h3>
                    <p>{{ gettext(id+'_description') }}</p>
                </div>
            {%- endfor %}
        </div>         
        <div class="hscroll">
            <table id="datatable">
                <tr>
                    <th></th><th colspan="2"></th><th colspan="2"></th><th colspan="2"></th>
                </tr>
                {% for project in projects %}
                    <tr class="row">
                        <td>{{ project.name.lbl }}</td><td class="val"></td><td class="src"></td><td class="val"></td><td class="src"></td><td class="val"></td><td class="src"></td>
                    </tr>
                {%- endfor %}
            </table>
        </div>
        <div id="csv"><a href="/dist/railway-project-comparison.csv">{{ gettext('csv_download') }}</a></div>
        <div id="footer">
            <a href="/en/" hreflang="en">EN</a> | <a href="/de/" hreflang="de">DE</a> | <a href="/fr/" hreflang="fr">FR</a> | <a href="https://traines.eu/impressum.html">{{ gettext('imprint') }}</a>
        </div>
    </div></div>
   
    <script src="/res/network-animator.js"></script>
    <script src="/res/main.js"></script>
</body>
</html>

