/* roboto-condensed-regular - latin */
@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('./fonts/roboto-condensed-v25-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./fonts/roboto-condensed-v25-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-condensed-700 - latin */
@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('./fonts/roboto-condensed-v25-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./fonts/roboto-condensed-v25-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
    font-family: 'Roboto Condensed', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

body, svg {
    font-size: 16px;
}

body {
    background-color: rgba(227, 242, 253, 1);
}

h1 {
    position: absolute;
    top: 50px;
    left: 50px;
    max-width: 400px;
}

#container {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    pointer-events: none;
}
#container > div {
    width: 800px;
    height: 800px;
    margin: 0 auto;
    display: block;
    position: relative;
}

.axis-select {
    position: absolute;
}

.select {
    min-width: 250px;
    pointer-events: all;
}

#tl {
    top: 0;
    left: 0;
}

#tr {
    top: 0;
    right: 0;
}

#br {
    bottom: -10px;
    right: 0;
}

rect.station {
    stroke: #263238;
    fill: white;
    rx: 5;
    stroke-width: 2;
}

rect.station, rect.helper, path.line.helper {
    stroke: none;
    fill: none;
}

path.line {
    stroke: inherit;
    fill: none;
    stroke-width: 200;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.unit {
    dominant-baseline: middle;
}
.label {
    dominant-baseline: middle;
    stroke: none;
    fill: black;
    transform: translate(15px, 0px);
    opacity: 0;
    transition: opacity 200ms;
}

.project:hover .label {
    opacity: 1;
    transition: opacity 0ms;
}

#bgmap path {
    stroke: white;
    fill: white;
}

circle {
    fill: #dddddd;
    stroke: none;
}

#footer {
    text-align: center;
    margin: 20px 0 20px 0;
}
#footer, #footer a {
    color: #757575;
}

@media only screen and (max-width : 1900px) {
    h1 {
        position: static;
    }
}